/* CSS for WebhookXblock */

.webhook_xblock_block .webhook-xblock-center-button {
    justify-content: center;
    text-align: center;
}

.wrapper-comp-settings.is-active.editor-with-buttons .wrapper-comp-setting p{
    color: red;
    display: inline;
}
